.InstagramLoginButton {
  padding: 10px;
  color: white;
  background: linear-gradient(#400080, transparent),
    linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
  text-align: center;
}

.InstagramLoginButton:hover {
  cursor: pointer;
  background: linear-gradient(#300070, transparent),
    linear-gradient(200deg, #c036c0, #ee0000, #eeee00);
}
