.haikus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 2px;
}

.haikus ul {
  padding: 0px;
  list-style-type: cjk-ideographic;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-more-wrapper {
  width: 100%;
  text-align: center;
}
