button.upvotes {
  font-family: 'Courier-New';
  padding: 4px;
  font-size: 0.9em;
  font-weight: normal;
  border: solid thin gray;
  border-radius: 5px;
  background: none;
  max-height: 25px;
  float: right;
  margin: 2px;
}

button.upvotes:hover {
  cursor: pointer;
  background-color: lightblue;
}
