button {
  margin: 20px 0px;
  padding: 10px;
  background: none;
  border-color: rgba(175, 47, 47, 0.2);
  color: #444;
  font-size: 1.75em;
}

button:hover {
  cursor: pointer;
  background-color: #eee;
}
