button {
  padding: 10px 5px;
  background: #666;
  border-radius: 2px;
  color: #fff;
}

button a {
  overflow: hidden;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.15em;
}

button:hover {
  cursor: pointer;
  background: #333;
}

button a:hover {
  text-decoration: none;
}


