.lines {
  flex-direction: column;
  margin: 30px 0px;
}

.line {
  letter-spacing: 0.13em;
  font-style: italic;
  font-weight: heavy;
}

.row-wrapper .line {
  padding: 20px;
  font-size: 20px;
  border-color: #777;
  flex-grow: 1;
  border: none;
  border-bottom: solid thin black;
}

.row-wrapper .line:focus {
  outline: none;
  border-color: rgba(175, 47, 47, 1);
}

@media (max-width: 500px) {
  .row-wrapper .line {
    border: none;
    border-bottom: solid thin;
    padding: 15px;
    font-size: 15px;
  }
}
