.haikus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 2px;
}

.haikus .flex-item {
  border: solid thin rgba(0, 0, 0, 0.32);
  padding: 10px;
  margin: 10px;
  letter-spacing: 0.075em;
  -webkit-box-shadow: 5px 5px 38px -1px rgba(0,0,0,0.71);
  -moz-box-shadow: 5px 5px 38px -1px rgba(0,0,0,0.71);
  box-shadow: 5px 5px 38px -1px rgba(0,0,0,0.71);
}

.show-more-wrapper {
  width: 100%;
  text-align: center;
}

.show-more button {
}
