button {
  height: 50px;
}

button a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.15em;
}

button:hover {
  color: grey;
}

button a:hover {
  text-decoration: none;
  color: grey;
}


