@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.feedback { 
  font: bold 1.25em monospace;
  color: black;
  letter-spacing: .15em;
  width: 100%;
}
