.row-wrapper {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-wrapper .label, .row-wrapper .line {
  display: block;
  width: 100%;
  font-family: 'Open-Sans', sans-serif;
  width: auto;
  display: flex;
}

.row-wrapper .label {
  font-size: 13px;
  border: none;
  margin: 10px;
}
